 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

body {
    font-family: Poppins;
    margin: 0;
    background:#f8fafc;
color:#0f172a;
}

.header {
    background: crimson;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

/* BASE NAVBAR */

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: crimson;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    padding: 15px 40px;
    color: white;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* DESKTOP NAV */
.nav-links {
    display: flex;
    gap: 25px;
    align-items:center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight:500;
    position:relative;
padding:5px 0;
transition:0.3s;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-4px;
width:0;
height:2px;
background: white;
transition:width 0.3s ease;
}

.nav-links a:hover {
    color: #ffcccc;
}
.nav-links a:hover::after{
width:100%;
}

/* ACTIVE PAGE STYLE */
.nav-links a.active{
  color: white;
  font-weight:bold;
}

.nav-links a.active::after{
  width:100%;
}


.btn{
padding:10px 18px;
border-radius:6px;
border:none;
cursor:pointer;
font-weight:600;
}

.btn-primary{
background: white;
color: crimson;
transition:0.3s;
}

.btn-primary:hover{
background: #ffcccc73;
transform:translateY(-1px);
}

.btn-outline{
border:2px solid #dc2626;
color:#dc2626;
background:transparent;
transition:0.3s;
}

.btn-outline:hover{
background:#dc2626;
color:white;
transform:translateY(-1px);
}


/* BURGER hidden on desktop */

.burger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* MOBILE MODE */
@media (max-width: 768px) {

    /* show burger */
    .burger {
        display: block;
    }
    /* hide nav initially */
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: crimson;
        flex-direction: column;
        width:200px;
        padding:20px;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
    }

    /* show when active */
    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 15px;
        border-top: 1px solid rgba(255,255,255,0.2);
    }



 .hero{
flex-direction:column;
text-align:center;
}

.hero-text h1{
font-size:32px;
}

}

/* HERO */
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 40px;
background:linear-gradient(to right,#fee2e2,#ffffff);
flex-wrap:wrap;
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:48px;
margin-bottom:20px;
color:#991b1b;
}

.hero-text p{
font-size:18px;
margin-bottom:30px;
color:#475569;
}

.hero-buttons{
display:flex;
gap:15px;
}

.hero img{
width:420px;
max-width:100%;
}


/* STATS */
.stats{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
background:white;
flex-wrap:wrap;
}

.stat{
text-align:center;
}

.stat h2{
color:#dc2626;
font-size:32px;
}

/* FEATURES */
.features{
padding:60px 40px;
text-align:center;
}

.features h2{
margin-bottom:40px;
font-size:32px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 8px 25px rgba(0,0,0,0.12);
}

/* CTA */
.cta{
background:#dc2626;
color:white;
text-align:center;
padding:60px 20px;
}

.cta h2{
margin-bottom:20px;
}


/* FOOTER */
.footer {

    background: #111;
    color: #ccc;
    padding: 30px 20px;
    margin-top: 40px;

}

.footer-container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer h3 {

    color: crimson;
    margin-bottom: 10px;
}

.footer-links {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a {

    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {

    color: white;
}

.footer-info {

    font-size: 14px;
}


/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

    .footer-container {

        flex-direction: column;
        text-align: center;
    }

}